<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlybl.mapper.BookMapper">
    <!--全查方法-->
    <select id="selectAll_BookMapper" resultType="Book">
        select * from book
    </select>
    <!--回显操作：根据id将查到的书籍数据显示以便修改-->
    <select id="selectBookById_BookMapper" resultType="Book">
        select * from book where  id = #{id}
    </select>
    <!--修改-->
    <update id="updateBook_BookMapper">
        update book set bname=#{bname},author=#{author},price=#{price},press=#{press},saletime=#{saletime} where id=#{id}
    </update>
</mapper>